.cabeza{
  background-color: #4488cc;
  height: 80px;
}
.cabezafun{
  background-color: #4488cc;
  height: 80px;
}
.logo{
  height: 50px;
  margin-top: 15px;
  margin-left: 5px;
  border-width: medium;
  border-style: solid;
}
.titulo{
  color: white;
  font-family:fantasy;
  font-size: 40pt;
  margin-bottom: 0px;
  margin-top:1%;
}
.titulofun{
  color: white;
  font-family:fantasy;
  font-size: 40pt;
  margin-bottom: 0px;
  margin-top:1%;
}
.redes{
  margin-right: 5px;
  }
.ico{
  height: 20px;
  border-radius: 9px;
  margin-right: 5px;
  }
.espacio{
  height: 40px;
}
.menumus{
  background-color: #4455cc;
}
.buton {
 width: 100px;
 border-radius: 10px;
 background-color: #4488cc;
 margin-left: 30%;
 margin-top: 1%;
 margin-bottom: 1%;
  }
a{
  color: white;
}
 p{
  text-align: justify;
  margin-bottom: 0px;
 }
 h3{
   text-align: left;
   font-family:fantasy;
   margin-bottom: 0px;
   margin-top:1%;
 }
 .cuerpo{
   background-color: #e8e8ff;
 }
 .contenido{
   margin-left: 0%;
 }
 .img{
   width: 100%;
   padding-top: 15%;
 }
 .com{
   height: 40px;
   border-radius: 9px;
   margin-right: 5px;
 }
 .banner{
  background-color: #d8d8ff;
  padding-left: 0px;
 }
 .comentario{
   width: 95%;
 }
 .abc2{
  padding-left: 20px;
  padding-top: 10px;
 }
 .busq{
   width: 80%;
   height: 30px;
}
 .btn{
  width:80%;
 }
 .button {
   margin-top: 4%;
 }
 .comfun{
   width:70px;
   margin-top: 12px;

    }
 .imga{
   border-radius: 5px;
   margin: 5px;
   box-shadow: 2px 2px 1px 1px grey;
 }
 .imgb{
   width: 100%;
   padding-top: 2%;
 }
 .imgc{
   width: 6%;
   padding-left: 2%;
   margin-right: 2%;
   vertical-align: middle;
 }
 .entrada{
   padding-top: 1px;
   margin: 5px;
   background-color: rgba(255, 240, 240, 0.8);
 }
 .fondo{
   background-image: url("../media/fondo.png");
   background-attachment: fixed;
 }
 .busqueda{
 background-color: rgba(255, 230, 210, 0.4);
 padding-left: 20px;
  }
  .busquedafun{
  background-color: rgba(255, 230, 210, 0.4);
  padding-left: 20px;
   }
 .menugas{
  color: black;
  font-family:fantasy;
  }
  .parrfund{
  background-color: rgba(255, 2255, 255, 0.8);
  padding:1%;
  }
  .fondmat{
    background-image: url("../media/fondomat.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
  .logsc{
    height: 150px;
  }
  .logomat{
    height: 75%;
    margin-top: 25px;
    margin-left: 50px;
    border-width: medium;
    border-style: solid;
      }
  .barra{
    background-image: url("../media/banner.jpg");
    height: 150px;
  }
  .contbot{
    margin-top: 10px;
    padding-right: 50px;
  }
  .slogmat{
    margin-top: 110px;
  }
  .botmat{
    border-radius: 5px;
    padding: 3px;
    height: 35px;
    width: 100px;
    text-align: center;
  }
  .linksoc{
    width: 40px;
    height: 130px;
    margin-left: -10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .redsoc{
    width: 20px;
    padding-top: 6px;
    border-radius: 20px;
  }
  .contmatl{
    width: 95%;
    height: 32%;
    margin-left: 10px;
  }
  .contmatc{
    width: 95%;
    height: 98%;
    margin-left: 10px;
  }
  .contmatb{
    width: 90%;
    margin-left: 20px;
    margin-right: 20px;
  }
  .fotreg{
    margin-right: 5%;
    height: 700px;
  }
  .entrmat{
    display:run-in;
  }
  .commat{
    background-color: rgba(240, 240, 240, 0.7);
  }
  .commatb{
    background-color: rgba(240, 240, 240, 0.6);
  }
  .commentmat{
    width: 90%;
    background-color: white;
  }
  .perfil{
    border-radius: 50px;
    width: 30%;
  }
  .contper{
  background-color: rgba(240, 240, 240, 0.6);
  }
  body{
    background-color: #4455cc;
  }
@media (max-width:767.8px) {
.espacio{
  height: 0px;
}
.redes{
  margin-right: 10px;
  margin-top: 10px;
  }
.cabeza{
  height: 110px;
}
.comentfun{
 width: 60%;
}
}
@media (max-width:980px) {
  .busqueda{
    display: none;
  }
  .titulo{
    display: none;
  }

}
@media (max-width:1023px) {
  .busquedafun{
    display: none;
  }
  .titulofun{
    display: none;
  }
  .fotreg{
  height: 400px;
  }
}
@media (max-width:746px) {
  .slogmat{
  display: none;
  }
  .contbot{
  display: none;
  }
  .linksoc{
  display: none;
  }
  .fotreg{
  height: 500px;
  }
  .logomat{
    height: 45%;
        margin-left: 20px;
        }
}
